rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    
    match /records/{recordId}/{fileName} {
      function hasRoleOnRecord() {
        let record = firestore.get(/databases/(default)/documents/records/$(recordId)).data;
        return record != null && (
          request.auth.uid == record.uploadedBy ||
          request.auth.uid in record.owners ||
          request.auth.uid in record.administrators ||
          request.auth.uid in record.viewers ||
          request.auth.uid in record.subjects
        );
      }

      allow read: if request.auth != null && hasRoleOnRecord();
      allow write: if request.auth != null && hasRoleOnRecord();
      allow delete: if request.auth != null && (
        request.auth.uid in firestore.get(/databases/(default)/documents/records/$(recordId)).data.owners ||
        request.auth.uid in firestore.get(/databases/(default)/documents/records/$(recordId)).data.administrators
      );
    }
  }
}